.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--muted-clr);
}

.logo {
  display: flex;
  align-items: center;
}

.bar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
