.rounded {
  @for $i from 0 through $ch-extend {
    &-#{$i} {
      border-radius: $i + (px);
    }

    &-s-#{$i} {
      border-start-start-radius: $i + (px);
      border-start-end-radius: $i + (px);
    }

    &-ss-#{$i} {
      border-start-start-radius: $i + (px);
    }

    &-e-#{$i} {
      border-end-end-radius: $i + (px);
      border-end-start-radius: $i + (px);
    }

    &-ee-#{$i} {
      border-end-end-radius: $i + (px);
    }

    &-se-#{$i} {
      border-start-end-radius: $i + (px);
    }

    &-es-#{$i} {
      border-end-start-radius: $i + (px);
    }

    &-t-#{$i} {
      border-top-left-radius: $i + (px);
      border-top-right-radius: $i + (px);
    }

    &-b-#{$i} {
      border-bottom-left-radius: $i + (px);
      border-bottom-right-radius: $i + (px);
    }

    &-l-#{$i} {
      border-top-left-radius: $i + (px);
      border-bottom-left-radius: $i + (px);
    }

    &-r-#{$i} {
      border-top-right-radius: $i + (px);
      border-bottom-right-radius: $i + (px);
    }

    &-tr-#{$i} {
      border-top-right-radius: $i + (px);
    }

    &-tl-#{$i} {
      border-top-left-radius: $i + (px);
    }

    &-br-#{$i} {
      border-bottom-right-radius: $i + (px);
    }

    &-bl-#{$i} {
      border-bottom-left-radius: $i + (px);
    }
  }
}

.br {
  & {
    border: 1px solid map-get($clrs, "gray");
  }

  &-r {
    border-right: 1px solid map-get($clrs, "gray");
  }

  &-l {
    border-left: 1px solid map-get($clrs, "gray");
  }

  &-t {
    border-top: 1px solid map-get($clrs, "gray");
  }

  &-b {
    border-bottom: 1px solid map-get($clrs, "gray");
  }
}

@for $i from 0 through $ch-extend {
  .br {
    &-#{$i} {
      border-width: $i + (px);
    }

    &-x-#{$i} {
      border-left-width: $i + (px);
      border-right-width: $i + (px);
    }

    &-y-#{$i} {
      border-bottom-width: $i + (px);
      border-top-width: $i + (px);
    }

    &-t-#{$i} {
      border-top-width: $i + (px);
    }

    &-b-#{$i} {
      border-bottom-width: $i + (px);
    }

    &-r-#{$i} {
      border-right-width: $i + (px);
    }

    &-l-#{$i} {
      border-left-width: $i + (px);
    }
  }

  .line-#{$i} {
    outline-width: $i + (px);
  }
}

@each $name, $value in $ch-border-style {
  .br-#{$name} {
    border-style: $value;
  }

  .line-#{$name} {
    outline-style: $value;
  }
}

@mixin borders($point) {
  .#{$point}_rounded {
    @for $i from 0 through $ch-extend {
      &-#{$i} {
        border-radius: $i + (px);
      }

      &-s-#{$i} {
        border-start-start-radius: $i + (px);
        border-start-end-radius: $i + (px);
      }

      &-ss-#{$i} {
        border-start-start-radius: $i + (px);
      }

      &-e-#{$i} {
        border-end-end-radius: $i + (px);
        border-end-start-radius: $i + (px);
      }

      &-ee-#{$i} {
        border-end-end-radius: $i + (px);
      }

      &-se-#{$i} {
        border-start-end-radius: $i + (px);
      }

      &-es-#{$i} {
        border-end-start-radius: $i + (px);
      }

      &-t-#{$i} {
        border-top-left-radius: $i + (px);
        border-top-right-radius: $i + (px);
      }

      &-b-#{$i} {
        border-bottom-left-radius: $i + (px);
        border-bottom-right-radius: $i + (px);
      }

      &-l-#{$i} {
        border-top-left-radius: $i + (px);
        border-bottom-left-radius: $i + (px);
      }

      &-r-#{$i} {
        border-top-right-radius: $i + (px);
        border-bottom-right-radius: $i + (px);
      }

      &-tr-#{$i} {
        border-top-right-radius: $i + (px);
      }

      &-tl-#{$i} {
        border-top-left-radius: $i + (px);
      }

      &-br-#{$i} {
        border-bottom-right-radius: $i + (px);
      }

      &-bl-#{$i} {
        border-bottom-left-radius: $i + (px);
      }
    }
  }

  .#{$point}_br {
    & {
      border: 1px solid map-get($clrs, "gray");
    }

    &-r {
      border-right: 1px solid map-get($clrs, "gray");
    }

    &-l {
      border-left: 1px solid map-get($clrs, "gray");
    }

    &-t {
      border-top: 1px solid map-get($clrs, "gray");
    }

    &-b {
      border-bottom: 1px solid map-get($clrs, "gray");
    }
  }

  @for $i from 0 through $ch-extend {
    .#{$point}_br {
      &-#{$i} {
        border-width: $i + (px);
      }

      &-x-#{$i} {
        border-left-width: $i + (px);
        border-right-width: $i + (px);
      }

      &-y-#{$i} {
        border-bottom-width: $i + (px);
        border-top-width: $i + (px);
      }

      &-t-#{$i} {
        border-top-width: $i + (px);
      }

      &-b-#{$i} {
        border-bottom-width: $i + (px);
      }

      &-r-#{$i} {
        border-right-width: $i + (px);
      }

      &-l-#{$i} {
        border-left-width: $i + (px);
      }
    }

    .#{$point}_line-#{$i} {
      outline-width: $i + (px);
    }
  }

  @each $name, $value in $ch-border-style {
    .#{$point}_br-#{$name} {
      border-style: $value;
    }

    .#{$point}_line-#{$name} {
      outline-style: $value;
    }
  }
}

@include media("sm") {
  @include borders("sm");
}

@include media("md") {
  @include borders("md");
}

@include media("lg") {
  @include borders("lg");
}

@include media("xl") {
  @include borders("xl");
}

@include media("xl2") {
  @include borders("xl2");
}
@include media("xl3") {
  @include borders("xl3");
}
